.rocket-wrapper {
  position: relative;
  width: 120px;
  height: 240px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rocket {
  position: relative;
  width: 100%;
  height: 100%;
}

.rocket-svg,
.rocket-img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 10px hsl(var(--primary) / 0.3));
  object-fit: contain;
}

@media (max-width: 768px) {
  .rocket-wrapper {
    width: 90px;
    height: 180px;
  }
}
