.clouds-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  pointer-events: none;
  overflow: hidden;
}

.cloud-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.cloud-layer-back {
  bottom: 0;
  opacity: 0.4;
}

.cloud-layer-mid {
  bottom: -20px;
  opacity: 0.6;
}

.cloud-layer-front {
  bottom: -40px;
  opacity: 0.9;
}

.cloud {
  flex-shrink: 0;
}

.cloud-1 {
  width: 300px;
  height: 120px;
  margin-left: -50px;
}

.cloud-2 {
  width: 280px;
  height: 110px;
  margin-right: -30px;
  animation-delay: 5s;
}

.cloud-3 {
  width: 350px;
  height: 140px;
  margin-left: -80px;
}

.cloud-4 {
  width: 320px;
  height: 130px;
  margin-right: -60px;
  animation-delay: 3s;
}

.cloud-5 {
  width: 400px;
  height: 160px;
  margin-left: -100px;
  animation: cloud-drift 25s ease-in-out infinite;
}

.cloud-6 {
  width: 350px;
  height: 140px;
  margin-right: -80px;
  animation: cloud-drift 28s ease-in-out infinite;
  animation-delay: 7s;
}

@keyframes cloud-drift {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(40px) scale(1.03);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@media (max-width: 768px) {
  .clouds-container {
    height: 120px;
  }

  .cloud-1, .cloud-2 {
    width: 200px;
    height: 80px;
  }

  .cloud-3, .cloud-4 {
    width: 220px;
    height: 90px;
  }

  .cloud-5, .cloud-6 {
    width: 250px;
    height: 100px;
  }
}
